name: Deploy, Style Check, and Test

env:
  SRC: calculator/src
  TST: calculator/tst
  RESULTS: calculator/results
  REQUIREMENTS: calculator/requirements.txt
  CODE_STYLE: code_style
  CODE_COVERAGE: code_coverage
  TEST_RESULTS: test_results
  MIN_COV_PERCENT: 70
  MAX_LINE_LENGTH: 79
  
on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r $REQUIREMENTS
    - name: Create artifact directories
      run: |
        mkdir $RESULTS
        mkdir $RESULTS/$CODE_STYLE
        mkdir $RESULTS/$CODE_COVERAGE
        mkdir $RESULTS/$TEST_RESULTS
        echo listing the directory $RESULTS
        ls -l $RESULTS
    - name: Lint with flake8
      run: |
        flake8 . --count --max-line-length $MAX_LINE_LENGTH --show-source --statistics --benchmark --select=E9,F63,F7,F82 --output-file=$RESULTS/$CODE_STYLE/flake8_style_check.log --tee
    - name: Upload Lint With flake8 Artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: code_style_results
        path:  ${{ env.RESULTS }}/${{ env.CODE_STYLE }}
    - name: Test with pytest
      run: |
        pytest $TST/test_calculator.py -vs --html=$RESULTS/$TEST_RESULTS/test_calculator.html
    - name: Upload Test Results Artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: test_results
        path:  ${{ env.RESULTS }}/${{ env.TEST_RESULTS }}
    - name: Code coverage check
      run: |
        pytest --cov=$SRC --no-cov-on-fail --cov-fail-under=${{ env.MIN_COV_PERCENT }} --cov-report=html:$RESULTS/$CODE_COVERAGE
    - name: Upload Code Coverage Artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: code_coverage_results
        path:  ${{ env.RESULTS }}/${{ env.CODE_COVERAGE }}
    - name: Upload All Artifacts
      uses: actions/upload-artifact@v1.0.0
      with:
        name: all_results
        path:  ${{ env.RESULTS }}
