name: Deploy, Style Check, and Test

env:
  SRC: calculator/src
  TST: calculator/tst
  RESULTS: calculator/results
  REQUIREMENTS: calculator/requirements.txt
  CODE_STYLE: code_style
  COVERAGE: coverage
  TEST: test
  
on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r $REQUIREMENTS
    - name: Create artifact directories
      run: |
        mkdir $RESULTS
        mkdir $RESULTS/$CODE_STYLE
        mkdir $RESULTS/$COVERAGE
        mkdir $RESULTS/$TEST
        echo listing the directory $RESULTS
        ls -l $RESULTS
    - name: Lint with flake8
      run: |
        flake8 . --statistics --count --select=E9,F63,F7,F82 --show-source --output-file=$RESULTS/$CODE_STYLE/flake8_style_check.log --tee -v
    - name: Code coverage check
      run: |
        pytest --cov=$SRC --cov-fail-under=70 --cov-report=html:$RESULTS/$COVERAGE
    - name: Test with pytest
      run: |
        pytest $TST/test_calculator.py -vs --html=$RESULTS/$TEST/test_calculator.html
    - name: Upload artifact directory
      uses: actions/upload-artifact@v1.0.0
      with:
        name: test_results
        path: $RESULTS

