name: Deploy, Style Check, and Test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        pwd
        python -m pip install --upgrade pip
        pip install -r calculator/requirements.txt
    - name: Lint with flake8
      run: |
        pwd
        touch calculator/results/flake8_style_check.log
        flake8 . --statistics --count --show-source --output-file=calculator/results/flake8_style_check.log --tee -v
    - name: Test with pytest
      run: |
        pytest calculator/tst/test_calculator.py -vs --html=calculator/results/test_calculator.html
    - name: Upload artifact directory
      uses: actions/upload-artifact@v1.0.0
      with:
        name: test_results
        path: calculator/results/

